@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}